body {
    font-size: 13px;
    font-family: "Open Sans";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-margin {
    margin-top: 70px;
}

.login-page {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 0px 0px 4px 4px;
    opacity: .95;
}

.login-page-header {
    padding: 10px;
    margin-bottom: 27px;
    text-align: center;
}

.align-center {
    text-align: center;
}

.decent-margin-top {
    margin-top: 30px;
}

.decent-margin {
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-block-e {
    float: none;
    margin: 0 auto;
}

.login-alert-area {
    background: #FFFFFF;
    padding: 10px;
    margin: 10px;
}

.social-icon {
    padding-right: 10px;
    margin-right: 5px;
}

.white-form-bg {
    background: #FFF !important;
}

.login-page {
    border-radius: 30px !important;
    margin: auto;
    width: 40%;
    padding: 20px;
    font-size: 16px;
}

.btn {
    text-align: center!important;
    padding: 0 !important;
    border-radius: 290486px !important;
    width: auto !important;
    padding: 0 45px !important;
    color: #fff !important;
}

.social-icon {
    width: 125px;
    height: 60px;
}

.input-group {
    margin: 0 auto !important;
}

.album-image-login {
    position: relative !important;
    display: inline-block !important;
    margin: 1px!important;
    vertical-align: top!important;
    text-align: center!important;
    padding: 2px!important;
    height: 100%!important;
}

.form-control {
    border-radius: 5px !important;
    height: 50px !important
}

.regis {
    float: right !important;
    margin-top: -20px !important;
}

#check-b {
    padding: 5px !important;
}

.login-b {
    height: 35px !important;
}

#card-login {
    height: 625px;
    overflow: auto;
}

#name_f {
    margin-bottom: 0px !important;
}

.label-heading {
    margin-top: 14px;
    text-align: end;
}

#c_pass {
    text-overflow: initial;
    margin-left: 1px;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.col-md-4 {
    width: 38.5% !important;
}

.col-md-9 {
    width: 73% !important;
}